* {
  box-sizing: border-box;
}

body {
  background: #010202;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
}

.header {
  width: 90%;
  max-width: 1146px;
  margin: auto;
  padding: 56px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
}

.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user {
  display: flex;
  align-items: center;
}

.user-name {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-right: 15px;
}

.container {
  background: linear-gradient(90deg, #010202 0%, #010202 43%, rgba(1, 2, 2, 0.2) 90.9%);
  min-height: 100vh;
  color: white;
  /* ДОПОЛНИТЕЛЬНОЕ ЗАДАНИЕ */
  display: flex;
  flex-direction: column;
}

.film {
  width: 90%;
  max-width: 1146px;
  margin: auto;
  padding: 7% 0;
  /* ДОПОЛНИТЕЛЬНОЕ ЗАДАНИЕ */
  flex-grow: 1;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  opacity: 0.4;
  color: #E5E5E5;
  font-size: 16px;
  line-height: 140%;
}

.tags>* {
  margin-right: 15px;
  margin-bottom: 10px;
}

.age {
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 1px 5px;
}

.description {
  max-width: 460px;
  font-size: 21px;
  line-height: 140%;
  margin-bottom: 36px;
}

.button {
  padding: 11px 26px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  line-height: 140%;
  background: #2F2F2F;
  color: #FFFFFF;
  cursor: pointer;
}

.button-primary {
  background: #EA6E20;
  margin-right: 15px;
}

.button-text {
  margin-left: 10px;
  vertical-align: text-bottom;
}

@media (max-width: 768px) {
  .container {
    height: auto;
    padding-bottom: 400px;
    background: url("../img/cover-image.jpg") no-repeat bottom center / 300px;
  }

  video {
    display: none;
  }

  .film {
    padding-top: 2%;
  }

  .description {
    font-style: 16px;
    max-width: 333px;
  }

  .film-logo {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .button-text {
    display: none;
  }

  .user-name {
    display: none;
  }

  .container {
    padding-bottom: 350px;
    background-size: 300px;
  }

  #button-prime {
    margin-bottom: 20px;
  }

  .button-submit {
    display: none;
  }
}
@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  @media (max-height: 576px),
  screen and (orientation: portrait) {
    #send-button-ios {
      background: transparent;
      padding-top: 4px;
    }

    #a-submit-button {
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-height: 385px),
screen and (orientation: portrait) {
  .button-icon {
    order: 1;
    flex-grow: 1;
    margin-top: 0px;
    height: 22px;
    width: 22px;
    background: transparent;
  }

  #submit-text-ios {
    display: none;
    padding: 0px;
    /* background: transparent;
    display: flex;
    align-items: center;
    justify-content: center; */
  }
}

@supports (-webkit-touch-callout: none) {

  /* CSS specific to iOS devices */
  @media (max-height: 900px),
  screen and (orientation: landscape) {
    #submit-text-ios {
      background: transparent;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 20px;
    }
    .button-icon {
      background: transparent;
    }
  }
}

@media (max-width: 373px) {

  #submit-text-ios {
    display: none;
  }
  .description {
    text-align: justify;
  }
  .button-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    align-items: baseline;
  }
  .button-primary {
    order: 1;
    flex-grow: 1;
  }
  .button-default {
    order: 2;
    flex-grow: 0;
  }
}

.form-input-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-end;
  align-items: baseline;
}
.modal__input {
  order: 1;
  flex-grow: 1;
}
.spacer {
  order: 2;
  width: 10px;
  flex-grow: 1;
}
.modal__submit {
  order: 3;
  flex-grow: 1;
}

.modal__submit {
  padding: 2px 0px;
  vertical-align: text-bottom;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-end;
  align-items: baseline;
}
.button-icon {
  order: 1;
  flex-grow: 1;
  padding-top: 7px;
  height: 16px;
  width: 16px;
}
.button-submit {
  order: 2;
  flex-grow: 0;
  margin-right: 5px;
  margin-bottom: 2px;
}

/* @media (max-width: 374px) {
  .modal__label {
    width: 120px;
  }

  .form-input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal__submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .button {
    padding: 0 -20px 0 0;
  } */

video {
  /*Домашнее задание День 3 */
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.modal {
  display: none;
  max-width: 600px;
/*   padding: 0 0px 0 0; */
  text-align: justify;
  border-radius: 5px;
  opacity: 0.8;
  background: #e2dfdd;
}

/* .form-input-group {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.fancybox-content {
  padding: 0px 0px 0px 0px;
}

.email-form {
  margin: 10px 30px 10px 10px;
}

.modal__submit {
  background: #EA6E20;
}

/* .modal__label {
  margin-right: 20px;
} */

.modal__title {
  max-width: 400px;
}

/* .modal__input {
  width: 75%;
} */